@tailwind base;
@tailwind components;
@tailwind utilities;

.all-products-zoom-img{
  transition: transform 0.5s ease
}
.all-products-zoom-img:hover img {
  transform: scale(1.3);
  transition: transform 1.2s ease;
}